<a href="https://colab.research.google.com/github/zeeshanishfaq20/Python-Practice/blob/main/SQLiteDBInter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [5]:
con = conn = sqlite3.connect(r"C:\Users\block360_\SQLite1\database.db")

In [6]:
cur = conn.cursor()

In [7]:
cur.execute("CREATE TABLE sales_data(date,product_id,product_name,quantity_sold,price_per_unit)")

In [8]:
cur.execute("""
    INSERT INTO sales_data VALUES
        (2025-01-01,101,'Widget A',10,5.00),
        (2025-01-01,102,'Widget B',5,15.00),
        (2025-01-02,101,'Widget A',7,5.00),
        (2025-01-02,103,'Widget C',3,12.00)
""")

In [9]:
conn.commit()

In [11]:
res = cur.execute("SELECT * FROM sales_data")
res.fetchall()

[(2023, 101, 'Widget A', 10, 5.0),
 (2023, 102, 'Widget B', 5, 15.0),
 (2022, 101, 'Widget A', 7, 5.0),
 (2022, 103, 'Widget C', 3, 12.0)]

In [12]:
cur.execute("CREATE TABLE customers(customer_id,customer_name,location)")

In [13]:
cur.execute(
    """INSERT INTO customers VALUES
        (1,'John Doe','New York'),
        (2,'Jane Smith','San Francisco'),
        (3,'Bob Johnson','Chicago')"""
)

In [14]:
conn.commit()

In [15]:
res = cur.execute("SELECT * FROM customers")
res.fetchall()

[(1, 'John Doe', 'New York'),
 (2, 'Jane Smith', 'San Francisco'),
 (3, 'Bob Johnson', 'Chicago')]